.poppins {
  font-family: "Poppins", sans-serif;
}

.hind {
  font-family: "Hind Siliguri", sans-serif;
}

.bangla {
  font-family: "Tiro Bangla", serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

.active {
  background-color: #422AD5;
  color: white;
}